# ignore npm dependencies
node_modules
npm-debug.log
package-lock.json

# ignore vim temporary files
*~

# ignore vim swap files
*.swp
*.swo

# build and test artifacts
build
coverage

# private keys
*.pem
