.Header{
    margin: 40px 0;
}
.HeaderDropdownCol {
    text-align: right;
}
.HeaderDropdownMenu {
    margin-top: 20px;
    margin-bottom: 10px;
}
.HeaderErrorMessage {
    margin-top: 20px;
    margin-bottom: 10px;
    position: absolute;
}
