body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
h1{
    margin: 5px;
}
h2 {
    cursor: pointer;  
}
p {
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}
